<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEkSURBVHgBjZPbUcNADEXvhvDD8GE6cAmUAB1AB1ABoQJDBQkVZKgg6QA6SDpIOkgmzxnnQ7naPGxt7Hg145dWOrtXkiEbfMgak/O1QReByRYp10Ymbo2+rrUhSPhMi2j/HRDwZ2KAKXJ860sLDcadvghIjTPHs3sgpAkgK7zxkRmnQ+eUfBWguhncDZJ77g4/ZVf9CQ66y/UYM/kzDGvVHL0X6NaivVbFtit8Lzyq7QSTy7qbTmCTBf9MHqPGLgGCufl2eKKkTjzAYcj7MPBlhDzGAdRyvANGc8LIgcwup7QSQM1zStGqF3K0K7cYRAE85J6Fk8O8F07WY8nRjgEcIToPv8GWmSzY6hiAt53vwNT4btD3ox4D8PXg3weY9iY66lrUPcxmaJHqxZUmAAAAAElFTkSuQmCC" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>Košice mind | Admin pael</title>
    <script type="module" crossorigin src="/assets/index-9c4022c9.js"></script>
    <link rel="stylesheet" href="/assets/index-74834819.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
